@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


h2{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Poppins", "Courier New", monospace;
    color: #c4c3ca;
}


.imput {
    padding-left: 20px;
    height: 35px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px #c4c3ca;
    margin-bottom: 5px;
}

label{
    margin-bottom: 0px;
    font-size: 17px;
    font-family: "Poppins", "Courier New", monospace;
}

.btnsalvar{
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 20px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    border: solid 1px #1f2029;
}

