@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.titulo_cadastro{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Poppins", "Courier New", monospace;
    color: #c4c3ca;
    text-transform: uppercase;
}

body{
    background-color: black;
}
.imput {
    padding-left: 20px;
    height: 35px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    margin-bottom: 20px;
    border: solid 1px rgb(80, 80, 80)
}
.imput:focus{
outline: none;
  border-color: #686868;
  box-shadow: 0 0 2px #696969;
}


.label_cadastro{
    margin-bottom: 0px;
    font-size: 15px;
    font-family: "Poppins", "Courier New", monospace;
    text-transform: uppercase;
    position: absolute;
    left: 37px;
}

.btnsalvar{
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 20px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    border: solid 1px #1f2029;
}

  /* Small - Tablets */
  @media screen and (min-width: 600px) {
    .label_cadastro{
    position: absolute;
    left: 60px;
    }
}

/* Medium - Landscape tablets */
@media screen and (min-width: 768px) {
    .label_cadastro{
    position: absolute;
    left: 78px;
    }
}

 /* Large - notebooks/desktops */
 @media screen and (min-width: 1024px) {
    .imput{
        width: 750px;
        height: 45px;
    }

    .label_cadastro{
        position: absolute;
        left: 138px;
        font-size: 17px ;
        margin-bottom: 9px;
    }

    .titulo_cadastro{
        font-size: 40px;
    }    
}     

 /* Extra large - notebooks/desktops */
 @media screen and (min-width: 1200px) {
    .label_cadastro{
        position: absolute;
        left: 225px;
        font-size: 17px ;
        margin-bottom: 9px;
    }
   
}  

@media screen and (min-width: 1920px) {
    .label_cadastro{
        position: absolute;
        left: 585px;
        font-size: 17px ;
        margin-bottom: 9px;
    }
   .btnsalvar{
       font-size: 18px;
       margin-top: 25px;
       margin-bottom: 30px;
       border-radius: 4px;
       height: 35px;
       font-weight: 600;
       text-transform: uppercase;
       transition: all 200ms linear;
       padding: 0 20px;
       letter-spacing: 1px;
       align-items: center;
       justify-content: center;
       background-color: #ffffff;
       color: #000000;
       box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
       border: solid 1px #1f2029;
   }
} 
