.modal {
    position: fixed;
    left: 3rem;
    top: 60px;
    width: 260px;
    height: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.modal {
    animation:modal-animation .5s cubic-bezier(.25,.46,.45,.94) both;
}

@-webkit-keyframes modal-animation {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              
    }
    25% {
        opacity: 80%;
    }
    50% {
        opacity: 40%;
    }
    75%{
        opacity: 20%;
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
            
    }
  }
  @keyframes modal-animation {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              
    }
    25% {
        opacity: 30%;
    }
    50% {
        opacity: 60%;
    }
    75%{
        opacity: 80%;
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
               
    }
  }
  

  
.modal-content {
    background-color: rgb(190, 49, 49);
    width: 100%;
    padding: 0px;
    margin: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.text-alert{
    color: white;
    margin: 0px;
}
@media screen and (min-width: 400px) {
    .modal {
        left: 4.5rem;
    }
}

@media screen and (min-width: 445px) {
    .modal {
        left: 6rem;
    }
  }
@media screen and (min-width: 540px) {
    .modal {
        left: 9rem;
    }
  }

/* Small - Tablets */
@media screen and (min-width: 600px) {
  .modal {
      left: 13rem;
  }
}
/* Medium - Landscape tablets */
@media screen and (min-width: 768px) {
    .modal {
        left: 16rem;
    }
}
@media screen and (min-width: 768px) {
    .modal {
        left: 17rem;
    }
}
@media screen and (min-width: 800px) {
    .modal {
        left: 19rem;
    }
}
@media screen and (min-width: 900px) {
    .modal {
        left: 20.5rem;
    }
}
@media screen and (min-width: 950px) {
    .modal {
        left: 22rem;
    }
}
/* Large - notebooks/desktops */
@media screen and (min-width: 1024px) {
    .modal {
        left: 24rem;
    }
}        
@media screen and (min-width: 1100px) {
    .modal {
        left: 26rem;
    }
} 
@media screen and (min-width: 1150px) {
    .modal {
        left: 28rem;
    }
}  
/* Extra large - notebooks/desktops */
@media screen and (min-width: 1200px) {
    .modal {
        left: 40%;
    }
}  