
.senhaatual {
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.senha{
    font-size: 150px;
}
.user-container{
    padding-top: 70px;
}
.btn{
    margin: 5px;
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10000;
}
.footer-mod{
    bottom: 0px;
    position: relative;
}