
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900'); 

.Modal_Emp{
   position: fixed;
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(128, 128, 128, 0.562); /* Black w/ opacity */
}

.modalContent{
    background-image: url('https://senacsc754-my.sharepoint.com/personal/diego_santos3_alunos_sc_senac_br/Documents/Arquivos%20de%20Chat%20do%20Microsoft%20Teams/4364316faefc2a7731c6e788eb2bcecf%20-%20Copia.jpg');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 265px;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.usercontainer{
    padding-top: 0;
}

.name {
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.email{
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.endereco{
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.contato {
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}


.atendimento {
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.latitude {
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.longitude {
    padding-left: 20px;
    height: 25px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #8d8d8d;
    background-color: #2b2b2b;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgb(21 21 21 / 20%);
    border: solid 1px rgb(80 80 80);
}

.salvarbotao{
    border-radius: 4px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 10px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    margin-top: 8px;
    border: none;
}

.botaocancelar{
    border-radius: 4px;
    margin-top: 8px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 10px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    border: none;
}
.card{
   justify-items: center;
}

.btnempresa{
    border-radius: 4px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 10px;
    display: flex;
    width: 100px;
    justify-content: center;
    letter-spacing: 1px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    margin-top: 8px;
    border: none;
    align-items: center;
}



/* Small - Tablets */
@media screen and (min-width: 600px) {
    .modalContent{
        background-image: url('https://senacsc754-my.sharepoint.com/personal/diego_santos3_alunos_sc_senac_br/Documents/Arquivos%20de%20Chat%20do%20Microsoft%20Teams/4364316faefc2a7731c6e788eb2bcecf%20-%20Copia.jpg');
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: 370px;
        justify-content: center;
        background-position: bottom center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
}

/* Medium - Landscape tablets */
@media screen and (min-width: 768px) {

  }
  
  /* Large - notebooks/desktops */
  @media screen and (min-width: 1024px) {
    
  }        
  
  /* Extra large - notebooks/desktops */
  @media screen and (min-width: 1200px) {
   
  }  


